###########################################
# associated with development environment #
###########################################

# intellij idea #
**/.idea

# jupyter notebook #
**/.ipynb_checkpoints

##########
# nodejs #
##########

# node_modules (dependency) #
UPSA_Server/node_modules/*