<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.bottomup.upsa">

    <!-- 위치 정보 접근을 위한 permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 지도 사용 permission -->
    <permission
        android:name="com.example.kjy.an66_googlelbs.permission.MAP_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.kjy.an66_googlelbs.permission.MAP_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 외부 메모리 사용 permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 구글 서비스 사용 permission -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- 사용할 Open GL 라이브러리 설정 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!-- 부팅시 백그라운드 실행 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- WiFi 접근 및 변경 허용 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--안드로이드 폰에서 디바이스 ID 가져오기-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".AddActivity" />
        <activity android:name=".DocumentActivity" />

        <!-- 구글 지도 사용을 위한 API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCMgPxlntGMhIQf-oJBY_nc5xKw5S3PxbA" />

        <!-- 백그라운드 작업을 처리 -->
        <service
            android:name=".BackgroundService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BACKGROUND" />
            </intent-filter>
        </service>

        <!-- 부팅시 백그라운드 실행 -->
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>